/* Global  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.side-panel {
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 58px 8px 58px 32px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 0;
}

.hamburger {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 2rem 2rem;
}

.nav-bar {
  font-size: 1.1em;
  padding: .8em 0;
}

/* .nav-bar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3em;
} */

.main-nav {
  list-style: none;
}

.nav-bar .logo {
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  /* align-self: center; */
}

.nav-bar .logo span {
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.nav-bar .main-nav {
  display: flex;
  float: right;
}

.nav-bar .main-nav a {
  padding: 0 1.8em;
  color: #ffffff;
  text-decoration: none;
}

.nav-bar .main-nav .cta {
  background-color: #18A800;
  font-weight: 600;
  padding: .5em .8em;
  border-radius: 10px;
}
.nav-bar .main-nav .cta:hover {
  background-color: #3ba528;
}

.cards {
  margin: 0 auto 5.9em;
  max-width: 1250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

a {
  color: #000000;
  text-decoration: none;
}

/* homepage */

.homepage {
  background: linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)), url('../img/kent-rebman-Hau9TnHS130-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;
}

.main-search {
  color: #fff;
  position: absolute;
  top: 35%;
  width: 100%;
  font-size: 24px;
  text-align: center;
}

.search-heading {
  color: #ffffff;
}

.search-bar input[type=text] {
  border: 1px solid white;
  border-radius: 5px 0px 0px 5px;
  float: left;
  padding: 10px;
  margin-left: 33%;
  width: 28%;
  font-size: 17px;
}

.search-button {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: .98em 0;
  background: #18A800;
  border: 1px solid #18A800;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  float: left;
  width: 6%;
}

/* Featured Listings */

.featured-listing .section-title {
  margin: 2.1em 0;
  text-transform: capitalize;
  text-align: center;
  font-size: 2.5em;
}

 .featured-listing img {
  width: 100%;
  height: 275px;
  display: block;
}

.card-content {
  padding-bottom: 1.8em;
}

.card-content h2 {
  font-size: 20px;
  font-weight: 600;
  padding: .2em 0;
}

.featured-listing .card-content p {
  font-size: 18px;
  color: #333333;
}

.featured-listing .card-content .en-suites {
  font-size: 14px;
}

.featured-listing .card-content .en-suites span{
  font-weight: 600;
}

/* .about-us a {
  color: #ffffff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 10px 30px;
  margin-left: 5em;
  border-radius: .3em; 
} */

/* Meet Our Agents */
.meet-our-agents {
  background: #ededed;
  min-height: 140vh;
}

.meet-our-agents h1 {
  text-align: center;
  padding-top: 2.1em;
  font-size: 2.5em;
}

.meet-our-agents .sub-head {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 2.1em;
}

.meet-our-agents img {
  width: 100%;
  height: 525px;
  display: block;
}


.meet-our-agents .agent-name {
  text-align: center;
  font-size: 1.8em;
}

.meet-our-agents h3 {
  text-align: center;
  font-size: 1.4em;
  color: #464646dc;
  padding-bottom: .6em;
}

.meet-our-agents p {
  text-align: center;
}

/* footer  */

footer {
  background: #3e3e3e;
  color: #b1afaf;
  text-align: center;
  padding: 1.2em 0;
}

/* media queries */

/* Ipad */

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr;
    width: 50%;
  }

  .search-button {
    width: 7em;
  }

  .container {
    width: 100%;
  }

  .nav-bar {
    padding: .8em 0;
  }

  .nav-bar .main-nav a {
    padding: 0 1.3em;
  }

  .nav-bar .main-nav .cta {
    padding: .5em 1em;
  }

  .meet-our-agents {
    min-height: 325vh;
  }
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
    float: right;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .nav-bar {
    overflow: hidden;
  }

  .logo {
    font-size: 1.3em;
  }

  .main-nav li {
    display: none;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 28px;
  }

  .sidenav a:focus {
    background-color: rgb(92, 92, 92);
  }

  /* .nav-bar .main-nav {
    position: absolute;
    right: 0;
    top: 0;
    background: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  } */

  .search-bar input[type="text"] {
    width: 40%;
    margin-left: 23%;
    padding: 1em .8em;
  }
   .search-button {
     padding: .8em 1em;
     font-size: .8em;
   }

   .meet-our-agents {
    min-height: 250vh;
  }
}

/* iphone 6, 7, 8 +*/

@media only screen and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
  .cards {
    width: 75%;
  }

  .meet-our-agents {
    min-height: 350vh;
  }

  .search-bar input[type="text"] {
    margin-left: 15%;
  }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .meet-our-agents {
      min-height: 600vh;
    }

    .search-bar input[type="text"] {
      margin-left: 20%;
    }
}

/* Iphone X */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .meet-our-agents {
      min-height: 325vh;
    }
    .cards {
      width: 75%;
    }

    .search-bar input[type="text"]{
      margin-left: 12%;
    }
}